/*work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*shared styles */
*{
    font-family: 'Work Sans', sans-serif;

}
.primary_btn{
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    width: 180px;
    height: 64px;
    border: 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    
}

.gray_text{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

/*header styles */
header{
    background-color:#FFF;;
}

/*nav style */
.website_title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;

}
.links ul{
    display: flex;
}

.links li{
    list-style: none;
    margin-right: 40px;
}


.nav{
    display: flex;
    padding: 50px 230px;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    color:#424242;
    font-size: 1.1rem;
    font-weight: 500;
}

/*banner style */
.banner_text{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.banner_text h3{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0px;

  
}
.banner_text p{
    margin-bottom: 30px;

}

.banner img{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*feature section */
.feature_images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.feature_text{
    margin-right: 10px;
}
.feature_section{
    margin-left: 170px;
    margin-top: 50px;
    display: flex;
    gap: 100px;
    align-items: center;
    
}

.feature_text h3{
    color:  #727272;
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 0px;
}
 .feature_text p{
    margin-bottom: 20px;
    max-width: 530px;
    

 }
 
 /*facts-section */
.some_facts_texts{
    margin-left: 170px;
    margin-bottom: 40px;

}
 .some_facts_texts h3{
    color:#131313;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px; 
 }

 .cart_items{
    margin-left: 180px;
    display: flex;
    justify-content: space-around;
 }

 .cart{
    text-align: center;
    border: 1px solid #FF900E; 
    border-radius: 8px;
    text-align: center;
 }

.cart img{
    padding:45px 98px 0px ;
}

.cart_stats{
    color:#424242;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 10px 93px 0px;
    }
.cart_title{
    color:#727272;
    font-size: 1.4rem;
    font-weight: 600;
   padding-top: 0px;


} 


/*responsive media qua*/

@media screen and (max-width:576px) {
    .website_title{
        font-size: 1.12rem;
    }
    
    .nav{
        padding:5px 2px;
    }
    .links a{
        font-size: 0.6rem;
        
    }
    .banner img{
        margin-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .banner_text h3{
        font-size: 1.6rem;
    }

    .banner_text p{
        font-size: 0.6rem;
    }
    .feature_section{
        justify-content: center;
        display: flex;
        gap: 20px;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 20px;
    }
    .feature_images{
        margin-top: 10px;
        margin-left: 0px;
        grid-template-columns: 1fr;
    }
    .feature_text h3 {
        margin-left: 40px;
        max-width: auto;
        font-size:1.5rem;
       }

    .feature_text p{
        margin-left: 30px;
        font-size: 10px;
        max-width:auto;
        margin-bottom: 5px;
}

    .btn{
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
        margin-left: 120px;
        width: 120px;
        height: 60px;
    }

    .some_facts_texts{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .some_facts_texts h3{
        color:#131313;
        font-size: 1.5rem;
    }

    .cart_items{
            margin-left: 20px;
            display: flex;
            gap: 5px;
            justify-content: space-between;
         }
    .cart{
        text-align: center;
        border: 1px solid #FF900E; 
        border-radius: 4px;
        text-align: center;
        width: 100px;
        height: 100px;
        
        
    }

    .cart img{
        padding:5px 5px 0px ;
    }
    .cart_stats{
        padding:0px;
        font-size: 0.6rem;
    }

    .cart_title{
        font-size: 0.5rem;
}