/*work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*shared styles */
*{
    font-family: 'Work Sans', sans-serif;

}
.primary_btn{
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    width: 180px;
    height: 64px;
    border: 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: 32px;
}

/*header styles */
header{
    background-color:#FFF;;
}

/*nav style */
.website_title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;

}
.links ul{
    display: flex;
}

.links li{
    list-style: none;
    margin-right: 40px;
}


.nav{
    display: flex;
    padding: 50px 230px;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    color:#424242;
    font-size: 1.1rem;
    font-weight: 500;
}

/*banner style */
.banner_text{
    text-align: center;
}
.banner_text h3{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0px;
  
}
.banner_text p{
    margin-top: 5px;
    color:#727272;
    font-size: 1rem;
    font-weight: 400;

}

.banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*responsive media qua*/

@media screen and (max-width:576px) {
    .website_title{
        font-size: 1.12rem;
    }
    
    .nav{
        padding:5px 2px;
    }
    .links a{
        font-size: 0.6rem;
        
    }

    .banner_text h3{
        font-size: 1.6rem;
    }

    .banner_text p{
        font-size: 0.6rem;
    }
    
    .primary_btn{
        margin-top:11px ;
        margin-bottom:11px;
        width: 100px;
        height: 40px;
        border-radius: 2.5px;
        font-size: 0.7rem;

    }
    
}
